@mixin button-disable-clear-style {
  background-color: transparent;

  &:focus,
  &:hover,
  &:active {
    border-color: transparent;
  }
}

@mixin button-disable-style {
  &,
  &:active,
  &:focus,
  &:hover {
    color: var(--button-disabled-color);
    border-color: var(--button-disabled-background-color);
    background-color: var(--button-disabled-border-color);
  }
}
